.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.prettierrc
**/.prettierignore
**/.editorconfig
**/.gitattributes
**/setup.sh
**/setup.bat
**/*.svg
docs/**
!README.md
node_modules/**
